{% extends "base.html" %}
{% load staticfiles %}

{% block title %}(1) {% endblock title %}

{% block content %}
<h3>Requests</h3>
<div class="row">
     <div class="col-md-6">
        <table id="request" class="table table-bordered">
            <thead>
                <tr>
                    <th>Path</th>
                    <th>Method</th>
                    <th>Date</th>
                <tr>
            </thead>
            <tbody>
                <tr class="info">
                    <td>{{ path }}</td>
                    <td>{{ method }}</td>
                    <td>{{ req_date|date:"d M Y H:i" }}</td>
                </tr>
                <tr >
                    <td>{{ path }}</td>
                    <td>{{ method }}</td>
                    <td>{{ req_date|date:"d M Y H:i" }}</td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>   
{% endblock content %}